# Odoo Server
ODOO_URL=https://mtech-erp.odoo.com/odoo
ODOO_DB=mtech-erp-main-22456183
ODOO_USERNAME=it_graphic@mtechautoair.com
ODOO_PASSWORD=1ae57d16a82a2dfc6956d53952519e4fe340edd1

# App
APP_HOST=0.0.0.0
APP_PORT=8000
ADMIN_PASSWORD=admin1234

# Polling interval (seconds) - ดึงข้อมูลทุกกี่วินาที
REFRESH_INTERVAL=10

# Store TV - custom field name สำหรับ "ขนส่งท้องถิ่น"
# ชื่อ field ใน odoo เช่น x_transport_note หรือ x_local_delivery
LOCAL_TRANSPORT_FIELD=x_local_delivery
LOCAL_TRANSPORT_VALUE=ขนส่งท้องถิ่น
